---
// Awards / benefits: "Benefity spolupráce" – four benefit items. DOM class: awards-section. Markup only.
---

<section class="awards-section section-padding fix">
  <div class="top-shape">
    <img src="/assets/img/shape/new-shape.png" alt="img">
  </div>
  <div class="container">
    <div class="awards-wrapper">
      <div class="row g-4">
        <div class="col-md-6">
          <div class="section-title mb-0">
            <span class="icon-text-row wow fadeInUp"><img src="/assets/img/icon/thumbs-up.svg" alt="img">Proč se mnou?</span>
            <h3 class="wow fadeInUp" data-wow-delay=".2s">Benefity spolupráce</h3>
          </div>
        </div>
        <div class="col-md-6">
          <div class="awards-item wow fadeInUp" data-wow-delay=".2s">
            <div class="content">
              <div class="icon">
                <img src="/assets/img/icon/chart-column-big.svg" alt="img">
              </div>
              <div class="text">
                <h4>Strategický přístup</h4>
                <span>Každé rozhodnutí vychází z cíle projektu a potřeb uživatelů.</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="awards-item wow fadeInUp" data-wow-delay=".5s">
            <div class="content">
              <div class="icon">
                <img src="/assets/img/icon/handshake.svg" alt="img">
              </div>
              <div class="text">
                <h4>Partner, ne dodavatel</h4>
                <span>Přemýšlím nad projektem v širším kontextu.</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="awards-item wow fadeInUp" data-wow-delay=".8s">
            <div class="content">
              <div class="icon">
                <img src="/assets/img/icon/target.svg" alt="img">
              </div>
              <div class="text">
                <h4>Jasný proces</h4>
                <span>Víte, co děláme, proč to děláme a jaký je další krok.</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="awards-item wow fadeInUp" data-wow-delay="1.1s">
            <div class="content">
              <div class="icon">
                <img src="/assets/img/icon/user-check.svg" alt="img">
              </div>
              <div class="text">
                <h4>Zaměření na uživatele</h4>
                <span>Návrh vychází z potřeb skutečných uživatelů.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
