---
// Footer.astro
---

<footer class="footer-section fix">
  <div class="mycustom-marque">
    <div class="scrolling-wrap style-2">
  
      <div class="comm">
        <div></div>
        <a href="mailto:hello@dominikrara.cz" class="cmn-textslide">
          Spojme se
        </a>
        <a href="mailto:hello@dominikrara.cz" class="cmn-textslide">
          hello@dominikrara.cz
        </a>
      </div>
  
      <div class="comm">
        <div></div>
        <a href="mailto:hello@dominikrara.cz" class="cmn-textslide">
          Spojme se
        </a>
        <a href="mailto:hello@dominikrara.cz" class="cmn-textslide">
          hello@dominikrara.cz
        </a>
      </div>
  
      <div class="comm">
        <div></div>
        <a href="mailto:hello@dominikrara.cz" class="cmn-textslide">
          Spojme se
        </a>
        <a href="mailto:hello@dominikrara.cz" class="cmn-textslide">
          hello@dominikrara.cz
        </a>
      </div>
  
    </div>
  </div>

  <div class="container">
    <div class="footer-widget-wrapper">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="footer-item">
            <ul class="footer-list-items wow fadeInUp" data-wow-delay=".5s">
              <li><a href="#sluzby">Služby</a></li>
              <li><a href="#portfolio">Projekty</a></li>
              <li><a href="#recenze">Recenze</a></li>
              <li><a href="#faq">Časté dotazy</a></li>
              <li><a href="#kontakt">Kontakt</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <p class="text-center wow fadeInUp" data-wow-delay=".3s">
        © <span>Dominik Rára</span>
      </p>
    </div>
  </div>
</footer>