---
// Hero.astro
---

<section class="hero-section hero-3 bg-cover fix">
  <div class="container-fluid">
    <div class="row g-4 align-items-center">

      <div class="col-lg-6">
        <div class="hero-content-wrapper">
          <h1 class="wow fadeInUp" data-wow-delay=".2s">
            <span style="color: var(--theme, #1F7A6E);">Tvorba webů,</span><br>
            které dávají smysl.
          </h1>
          <h5 class="wow fadeInUp" data-wow-delay=".3s" style="font-weight: 400;">
            Strategický UX/UI přístup propojuji s technickou realizací tak, aby web byl přehledný, rychlý, dlouhodobě udržitelný a&nbsp;připravený na další rozvoj.
          </h5>
          <div class="hero-btn-wrapper wow fadeInUp" data-wow-delay=".4s">
            <a href="#kontakt" class="theme-btn">
              Spojme se <i class="fa-solid fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="hero-image hero-image-center">
          <img
            src="/assets/img/Dom.rara.png"
            alt="Dominik Rára"
            class="wow"
          >
        </div>
      </div>

    </div>
  </div>
</section>