---
// Logos marquee: scrolling project/client logos. Markup only.
---

<section class="marquee-section section-bg fix">
  <div class="marquee-container">
    <div class="marquee-wrapper marquee-fade">
      <div class="marquee-content">
        <div class="marquee-logo"><img src="/assets/img/personal projects/9.png" alt="Project logo"></div>
        <div class="marquee-logo"><img src="/assets/img/personal projects/apartmanmlyn.cz.png" alt="apartmanmlyn.cz"></div>
        <div class="marquee-logo"><img src="/assets/img/personal projects/barberdividend.cz.png" alt="barberdividend.cz"></div>
        <div class="marquee-logo"><img src="/assets/img/personal projects/beskydyparagliding.cz.png" alt="beskydyparagliding.cz"></div>
        <div class="marquee-logo"><img src="/assets/img/personal projects/financevalassko.cz.png" alt="financevalassko.cz"></div>
        <div class="marquee-logo"><img src="/assets/img/personal projects/chlevistav.cz.png" alt="chlevistav.cz"></div>
        <div class="marquee-logo"><img src="/assets/img/personal projects/masazekoprivnice.cz.png" alt="masazekoprivnice.cz"></div>
        <div class="marquee-logo"><img src="/assets/img/personal projects/vojtechholub.cz.png" alt="vojtechholub.cz"></div>
        <div class="marquee-logo"><img src="/assets/img/personal projects/vvreality.cz.png" alt="vvreality.cz"></div>
        <div class="marquee-logo"><img src="/assets/img/personal projects/am2pm.png" alt="am2pm"></div>
        <div class="marquee-logo"><img src="/assets/img/personal projects/perseus.png" alt="perseus"></div>
      </div>
      <div class="marquee-content" aria-hidden="true">
        <div class="marquee-logo"><img src="/assets/img/personal projects/9.png" alt=""></div>
        <div class="marquee-logo"><img src="/assets/img/personal projects/apartmanmlyn.cz.png" alt=""></div>
        <div class="marquee-logo"><img src="/assets/img/personal projects/barberdividend.cz.png" alt=""></div>
        <div class="marquee-logo"><img src="/assets/img/personal projects/beskydyparagliding.cz.png" alt=""></div>
        <div class="marquee-logo"><img src="/assets/img/personal projects/financevalassko.cz.png" alt=""></div>
        <div class="marquee-logo"><img src="/assets/img/personal projects/chlevistav.cz.png" alt=""></div>
        <div class="marquee-logo"><img src="/assets/img/personal projects/masazekoprivnice.cz.png" alt=""></div>
        <div class="marquee-logo"><img src="/assets/img/personal projects/vojtechholub.cz.png" alt=""></div>
        <div class="marquee-logo"><img src="/assets/img/personal projects/vvreality.cz.png" alt=""></div>
        <div class="marquee-logo"><img src="/assets/img/personal projects/am2pm.png" alt=""></div>
        <div class="marquee-logo"><img src="/assets/img/personal projects/perseus.png" alt=""></div>  
      </div>
    </div>
  </div>
</section>
