<section id="portfolio" class="project-section section-padding">
  <div class="container">

    <div class="section-title-area">
      <div class="section-title">
        <span class="icon-text-row wow fadeInUp">
          <img src="/assets/img/icon/app-window.svg" alt="img">Portfolio
        </span>
        <h3 class="wow fadeInUp" data-wow-delay=".2s">Moje práce</h3>
      </div>
    </div>

    <div class="project-wrapper" style="display:block;">

      <!-- PROJECT 1 -->
<div class="project-row">
  <div class="project-row__info">
    <div class="project-row__info-inner">
      <span class="project-row__category">UX strategie / UI design / Web development</span>
      <h4 class="project-row__title">
        <a href="https://beskydyparagliding.cz" target="_blank" rel="noopener">Branding a&nbsp;tvorba e-commerce webu pro&nbsp;tandemové lety</a>
      </h4>
      <p class="project-row__desc">
        Pro&nbsp;značku Beskydy Paragliding jsem připravil nový web zaměřený na&nbsp;přímý prodej tandemových letů. Cílem bylo vytvořit přehlednou strukturu a&nbsp;funkční uživatelskou cestu, která pracuje s&nbsp;obavami zákazníků a&nbsp;systematicky buduje důvěru.
      </p>
      <p class="project-row__desc">
        Součástí řešení byla implementace online prodeje voucherů, nastavení základní SEO struktury a&nbsp;spolupráce na&nbsp;obsahové strategii. Výsledkem je dlouhodobě udržitelné řešení postavené na&nbsp;jasné informační architektuře a&nbsp;efektivní realizaci.
      </p>
      <div class="project-row__meta">
        <p class="project-row__meta-label">Použité nástroje:</p>
        <div class="project-row__tags">
          <span class="project-row__tag">Figma</span>
          <span class="project-row__tag">WordPress</span>
          <span class="project-row__tag">Elementor Pro</span>
          <span class="project-row__tag">WooCommerce</span>
          <span class="project-row__tag">CSS</span>
          <span class="project-row__tag">JavaScript</span>
          <span class="project-row__tag">PHP</span>
        </div>
      </div>
     
      <div class="project-row__btn">
        <a href="https://beskydyparagliding.cz" target="_blank" rel="noopener noreferrer" class="theme-btn">
          Zobrazit web <i class="fa-solid fa-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="project-row__images">
    <div class="project-row__image">
      <img src="/assets/img/project/BP-mockup1.png" alt="Beskydy Paragliding mockup 1">
    </div>
    <div class="project-row__image">
      <img src="/assets/img/project/BP-mockup3.png" alt="Beskydy Paragliding mockup 3">
    </div>
    <div class="project-row__image">
      <img src="/assets/img/project/BP-mockup2.png" alt="Beskydy Paragliding mockup 2">
    </div>
  </div>
</div>

  <!-- PROJECT 2 -->
<div class="project-row">
  <div class="project-row__info">
    <div class="project-row__info-inner">
      <span class="project-row__category">UX strategie / UI design / Web development</span>
      <h4 class="project-row__title">
        <a href="https://masazekoprivnice.cz" target="_blank" rel="noopener">Prezentační web pro&nbsp;terapeutický masérský salon</a>
      </h4>
      <p class="project-row__desc">
        Pro&nbsp;masérský salon v&nbsp;Kopřivnici jsem připravil nový prezentační web zaměřený na&nbsp;budování důvěry a&nbsp;jasnou prezentaci terapeutického přístupu kombinujícího masáže a&nbsp;chiropraxi.
      </p>
      <p class="project-row__desc">
        Návrh vycházel z&nbsp;potřeb lokální klientely a&nbsp;důrazu na&nbsp;osobní přístup. Vytvořil jsem přehlednou strukturu služeb, posílil roli osobního profilu masérky a&nbsp;nastavil srozumitelnou cestu směřující k&nbsp;telefonické objednávce.
      </p>
      <p class="project-row__desc">
        Výsledkem je přehledný a&nbsp;dlouhodobě udržitelný web, který podporuje důvěryhodnost salonu a&nbsp;usnadňuje návštěvníkům rozhodnutí.
      </p>
      <div class="project-row__meta">
        <p class="project-row__meta-label">Použité nástroje:</p>
        <div class="project-row__tags">
          <span class="project-row__tag">Figma</span>
          <span class="project-row__tag">WordPress</span>
          <span class="project-row__tag">Elementor Pro</span>
          <span class="project-row__tag">CSS</span>
        </div>
      </div>
      <div class="project-row__btn">
        <a href="https://masazekoprivnice.cz" target="_blank" rel="noopener noreferrer" class="theme-btn">
          Zobrazit web <i class="fa-solid fa-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="project-row__images">
    <div class="project-row__image">
      <img src="/assets/img/project/M-mockup1.png" alt="Masáže Kopřivnice mockup 1">
    </div>
    <div class="project-row__image">
      <img src="/assets/img/project/M-mockup2.png" alt="Masáže Kopřivnice mockup 2">
    </div>
    <div class="project-row__image">
      <img src="/assets/img/project/M-mockup3.png" alt="Masáže Kopřivnice mockup 3">
    </div>
  </div>
</div>
<!-- PROJECT 3 -->
<div class="project-row">
  <div class="project-row__info">
    <div class="project-row__info-inner">
      <span class="project-row__category">UX strategie / UI design / Web development</span>
      <h4 class="project-row__title">
        <a href="https://www.perseus-project.eu" target="_blank" rel="noopener">Web pro&nbsp;evropský výzkumný projekt PERSEUS</a>
      </h4>
      <p class="project-row__desc">
        Pro&nbsp;evropský výzkumný projekt PERSEUS jsem vytvořil prezentační web, který přehledně komunikuje cíle, konsorcium a&nbsp;inovativní technologii pro&nbsp;budoucnost energetiky.
      </p>
      <p class="project-row__desc">
        Při návrhu jsem kladl důraz na&nbsp;přehledné zobrazení technických informací pomocí řady interaktivních prvků, které návštěvníkům pomáhají pochopit komplexní obsah.
      </p>
      <p class="project-row__desc">
        Výsledný web efektivně prezentuje klíčové aspekty projektu a&nbsp;napomáhá lepšímu pochopení jeho přínosu v&nbsp;rámci evropského výzkumného prostředí.
      </p>
      <div class="project-row__meta">
        <p class="project-row__meta-label">Použité nástroje:</p>
        <div class="project-row__tags">
          <span class="project-row__tag">Figma</span>
          <span class="project-row__tag">SquereSpace</span>
          <span class="project-row__tag">HTML</span>
          <span class="project-row__tag">CSS</span>
          <span class="project-row__tag">JavaScript</span>
        </div>
      </div>
      <div class="project-row__btn">
        <a href="https://www.perseus-project.eu" target="_blank" rel="noopener noreferrer" class="theme-btn">
          Zobrazit web <i class="fa-solid fa-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="project-row__images">
    <div class="project-row__image">
      <img src="/assets/img/project/Perseus1.png" alt="PERSEUS projekt mockup 1">
    </div>
    <div class="project-row__image">
      <img src="/assets/img/project/Perseus2.png" alt="PERSEUS projekt mockup 2">
    </div>
    <div class="project-row__image">
      <img src="/assets/img/project/Perseus3.png" alt="PERSEUS projekt mockup 3">
    </div>
  </div>
</div>

      <!-- PROJECT 4 -->
<div class="project-row">
  <div class="project-row__info">
    <div class="project-row__info-inner">
      <span class="project-row__category">UX strategie / UI design / Web development</span>
      <h4 class="project-row__title">
        <a href="https://vojtechholub.cz" target="_blank" rel="noopener">Prezentační web pro&nbsp;finančního poradce</a>
      </h4>
      <p class="project-row__desc">
        Pro&nbsp;finančního poradce Vojtěcha Holuba jsem navrhl a&nbsp;vytvořil rozsáhlý vícestránkový web, který jasně komunikuje jeho služby, případové studie, vizi a&nbsp;vzdělávací obsah prostřednictvím blogu.
      </p>
      <p class="project-row__desc">
        Při návrhu jsem kladl důraz na&nbsp;logickou strukturu obsahu, intuitivní navigaci napříč komplexními tématy a&nbsp;přehledné zobrazení informací, které posilují důvěru návštěvníků a&nbsp;usnadňují orientaci.
      </p>
      <p class="project-row__desc">
        Výsledný web výrazně zlepšil online prezentaci poradce a&nbsp;podpořil organický růst poptávek, což se promítlo do&nbsp;nárůstu kontaktů z&nbsp; vyhledávání.
      </p>
      <div class="project-row__meta">
        <p class="project-row__meta-label">Použité nástroje:</p>
        <div class="project-row__tags">
          <span class="project-row__tag">Figma</span>
          <span class="project-row__tag">WordPress</span>
          <span class="project-row__tag">Elementor Pro</span>
          <span class="project-row__tag">CSS</span>
        </div>
      </div>
      <div class="project-row__btn">
        <a href="https://vojtechholub.cz" target="_blank" rel="noopener" class="theme-btn">
          Zobrazit web <i class="fa-solid fa-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="project-row__images">
    <div class="project-row__image">
      <img src="/assets/img/project/VH1.png" alt="Vojtěch Holub web mockup 1">
    </div>
    <div class="project-row__image">
      <img src="/assets/img/project/VH2.png" alt="Vojtěch Holub web mockup 2">
    </div>
    <div class="project-row__image">
      <img src="/assets/img/project/VH3.png" alt="Vojtěch Holub web mockup 3">
    </div>
  </div>
</div>
        
        </div>
      </div>

    </div><!-- /.project-wrapper -->
  </div><!-- /.container -->
</section>