---
// Services: "S čím vám pomůžu?" – three service cards. Markup only.
---

<section id="sluzby" class="service-section service-3 section-padding section-bg fix">
  <div class="container">
    <div class="section-title text-center">
      <span class="icon-text-row wow fadeInUp"><img src="/assets/img/icon/laptop.svg" alt="img">Služby</span>
      <h3 class="wow fadeInUp" data-wow-delay=".2s">S čím vám pomůžu?</h3>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="service-item wow fadeInUp" data-wow-delay=".3s">
          <div class="icon">
            <img src="/assets/img/icon/search.svg" alt="">
          </div>
          <div class="content">
            <h4><a href="service-details.html">UX analýza webu</a></h4>
            <p>Analyzuji cíle projektu, cílovou skupinu a&nbsp;kontext zadání, abych navrhl smysluplnou strukturu a&nbsp;přehlednou uživatelskou cestu.</p>
          </div>
          
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item wow fadeInUp" data-wow-delay=".6s">
          <div class="icon">
            <img src="/assets/img/icon/layout-dashboard-1.svg" alt="">
          </div>
          <div class="content">
            <h4><a href="service-details.html">Návrh UI designu</a></h4>
            <p>Navrhuji přehledný a&nbsp;funkční design, který podporuje obsah, zvyšuje srozumitelnost a&nbsp;usnadňuje uživatelům orientaci.</p>
          </div>
          
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item wow fadeInUp" data-wow-delay=".9s">
          <div class="icon">
            <img src="/assets/img/icon/code-xml-1.svg" alt="">
          </div>
          <div class="content">
            <h4><a href="service-details.html">Vývoj webu</a></h4>
            <p>Navržené řešení převádím do&nbsp;stabilní a&nbsp;výkonné podoby s&nbsp;důrazem na&nbsp;udržitelnost, snadnou správu a&nbsp;další rozvoj.</p>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</section>
