---
// Testimonials: "Co říkají klienti?" – rating + Swiper slider. JS: main.js init .testimonial-slider. Markup only.
---

<section id="recenze" class="testimonials-section testimonials-1 section-padding section-bg-2 fix">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-6">
        <div class="section-title">
          <span class="icon-text-row wow fadeInUp"><img src="/assets/img/icon/message-circle-more.svg" alt="img">Recenze</span>
          <h3 class="wow fadeInUp" data-wow-delay=".2s">Co říkají klienti?</h3>
        </div>
        <div class="reviews wow fadeInUp" data-wow-delay=".4s">
          <h2 class="count">5.0</h2>
          <div class="item">
            <span>Průměrné hodnocení</span>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="testimonials-wrapper">
          <div class="swiper testimonial-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonial-box-items">
                  <div class="client-info">
                    <img src="/assets/img/testimonials/VHfinance.png" alt="img">
                    <div class="client-content">
                      <h5>Vojtěch Holub</h5>
                      <p>Finanční poradce</p>
                    </div>
                  </div>
                  <div class="testi-content">
                    <div class="icon">
                      <img src="/assets/img/icon/quote.svg" alt="img">
                    </div>
                    <p>
                      Děkuji za zpracování webu. Od prvotní schůzky, kde jsme si stanovili očekávání a základ toho, co web má splňovat a obsahovat, přes návrh web designu, až po úpravu malých kosmetických věcí. To, na co jsme si podali ruku platilo, cením rychlost a kreativitu, se kterou k webu přistoupil. Dobrá práce.
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="testimonial-box-items">
                  <div class="client-info">
                    <img src="/assets/img/testimonials/Pilates.png" alt="img">
                    <div class="client-content">
                      <h5>Iveta Zemanová</h5>
                      <p>Lektorka Pilates</p>
                    </div>
                  </div>
                  <div class="testi-content">
                    <div class="icon">
                      <img src="/assets/img/icon/quote.svg" alt="img">
                    </div>
                    <p>
                      Děkuji Dominikovi za vytvoření webu, který předčil moje očekávání.
                      Spolupráce byla výjimečně rychlá, web je přesně dle mých požadavků,
                      byl vytvořen s citem pro detail, velmi vkusně a funkčně.
                      Doporučuji 10 z 10 a znovu děkuji.
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="testimonial-box-items">
                  <div class="client-info">
                    <img src="/assets/img/testimonials/Ilona.png" alt="img">
                    <div class="client-content">
                      <h5>Klaudia Oršulová</h5>
                      <p>Pánská kadeřnice</p>
                    </div>
                  </div>
                  <div class="testi-content">
                    <div class="icon">
                      <img src="/assets/img/icon/quote.svg" alt="img">
                    </div>
                    <p>
                      Profesionálny a rýchly prístup pri tvorbe stránky. Dominik kladie dôraz hlavne na užívateľskú skúsenosť návštevníka stránky a to osobne najviac vyzdvihujem.
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="testimonial-box-items">
                  <div class="client-info">
                    <img src="/assets/img/testimonials/Klaudia.png" alt="img">
                    <div class="client-content">
                      <h5>Ilona Jurajdová</h5>
                      <p>Terapeutická masérka</p>
                    </div>
                  </div>
                  <div class="testi-content">
                    <div class="icon">
                      <img src="/assets/img/icon/quote.svg" alt="img">
                    </div>
                    <p>
                      Skvělá spolupráce, profesionální přístup a výborná komunikace.Web je moderní, a přesně podle mých představ. Doporučuji
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="testimonial-box-items">
                  <div class="client-info">
                    <img src="/assets/img/testimonials/VVreality.png" alt="img">
                    <div class="client-content">
                      <h5>Vladimír Večeřa</h5>
                      <p>Realitní makléř</p>
                    </div>
                  </div>
                  <div class="testi-content">
                    <div class="icon">
                      <img src="/assets/img/icon/quote.svg" alt="img">
                    </div>
                    <p>
                      Pan Dominik vždy flexibilně a profesionálně vyjde vstříc mým požadavkům
                      s webovými stránkami.
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="testimonial-box-items">
                  <div class="client-info">
                    <img src="/assets/img/testimonials/Chlevistav.png" alt="img">
                    <div class="client-content">
                      <h5>Michal Chlevišťan</h5>
                      <p>Stavební řemeslník</p>
                    </div>
                  </div>
                  <div class="testi-content">
                    <div class="icon">
                      <img src="/assets/img/icon/quote.svg" alt="img">
                    </div>
                    <p>
                      Díky za skvěle zpracovaný web. Všechno je přehledné, funkční a vychytané do posledních detailů.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-dot text-center">
            <div class="dot"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
