---
import "../styles/global.css";
import "../styles/main.css";
---

<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Dominik Rára | Tvorba webů, které dávají smysl</title>

  <meta name="description" content="Dominik Rára – Tvorba webů, které dávají smysl. Strategický přístup, přehledná struktura a technická kvalita." />
  <meta name="author" content="Dominik Rára" />

  <!-- Open Graph -->
  <meta property="og:title" content="Dominik Rára | Tvorba webů, které dávají smysl" />
  <meta property="og:description" content="Navrhuji a realizuji weby s důrazem na strategii, strukturu a výkon." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://dominikrara.cz" />
  <meta property="og:image" content="/assets/img/thumb.jpg" />

  <!-- Favicon -->
  <link rel="icon" type="image/svg+xml" href="/assets/img/DR-Favicon.jpg" />

  <!-- Legacy CSS -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/css/all.min.css" />
  <link rel="stylesheet" href="/assets/css/animate.css" />
  <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css" />
  
</head>

<body class="body-color">

  <slot />

  <!-- Legacy JS -->
  <script is:inline src="/assets/js/jquery-3.7.1.min.js"></script>
<script is:inline src="/assets/js/bootstrap.bundle.min.js"></script>
<script is:inline src="/assets/js/jquery.waypoints.js"></script>
<script is:inline src="/assets/js/jquery.counterup.min.js"></script>
<script is:inline src="/assets/js/swiper-bundle.min.js"></script>
<script is:inline src="/assets/js/wow.min.js"></script>
<script is:inline src="/assets/js/main.js"></script>

</body>
</html>